.button {
  display: block;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $bg-blue;
  padding-top: 15px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 17px;
  outline: none;
  border: 0;
}
