.button {
  display: block;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $bg-blue;
  padding-top: 15px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 17px;
  outline: none;
  border: 0;

  transition: all ease-in .2s;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    color: #87B6D1;
    background-color: #5496BD;
  }

  &:disabled {
    background-color: #E5E5E5;
  }
}
