.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 389px;
  background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@1x.jpg");
  background-size: 100%, cover;
  background-position: bottom -1px left 0, bottom;
  background-repeat: no-repeat;
  background-color: $bg-blue;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/bg-intro-triangle-mobile.svg"), url("../../img/bg-back-mobile@2x.jpg");
  }
}

.intro--page-inner {
  height: 158px;
}

.intro__img {
  width: 282px;
  height: 214px;
  margin-top: 5px;
}

.intro--page-inner .intro__img {
  width: 229px;
  height: 39px;
  margin-top: -15px;
}

@media (min-width: $tablet-width) {
  .intro {
    height: 518px;
    background-image: url("../../img/bg-intro-triangle-tablet.svg"), url("../../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-intro-triangle-tablet.svg"), url("../../img/bg-back-tablet@2x.jpg");
    }
  }

  .intro--page-inner {
    height: 290px;
  }

  .intro__img {
    width: 462px;
    height: 350px;
    margin-top: -15px;
  }

  .intro--page-inner .intro__img {
    width: 457px;
    height: 78px;
    margin-bottom: 8px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bg-intro-triangle-desktop.svg"), url("../../img/bg-back-desktop@2x.jpg");
    }
  }

  .intro--page-inner {
    height: 301px;
  }

  .intro--page-inner .intro__img {
    width: 460px;
    height: 80px;
  }
}
