.picture-card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.picture-card__description {
  padding-top: 11px;
}

.picture-card__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.picture-card__author {
  font-size: 14px;
  line-height: 24px;
  color: $darkgrey;
  margin: 0;
}

.picture-card__likes {
  display: flex;
  align-items: center;
  width: 80px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 11px;
}

.picture-card__likes-icon {
  fill: $black;
  opacity: 0.3;
}

.picture-card__likes-number {
  padding-left: 14px;
}

.picture-card__image img {
  display: block;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .picture-card {
    padding-top: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .picture-card__description {
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 16px;
    padding-right: 20px;
    background-color: $lightgrey;
  }

  .picture-card__likes {
    position: absolute;
    right: 4px;
    bottom: 11px;
  }

  .picture-card__likes-number {
    padding-left: 9px;
  }
}

@media (min-width: $desktop-width) {
  .picture-card__description {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .picture-card__title {
    color: $white;
  }

  .picture-card__author {
    color: $white;
  }

  .picture-card__likes-number {
    color: $white;
  }

  .picture-card__likes-icon {
    fill: $white;
    opacity: 1;
  }
}

// Pixel Perfect

@media (min-width: $tablet-width) {
  .picture-card__author {
    padding-top: 1px;
  }
}
