/* Colors */

$bg-blue: #81b3d2;
$bg-blue-hover: #669ec0;
$bg-blue-focus: #5496bd;
$white: #ffffff;
$grey: #eeeeee;
$lightgrey: #f2f2f2;
$softgrey: #e5e5e5;
$othergrey: #d6d6d6;
$onemoregrey: #d5d5d5;
$dimgrey: #5c6870;
$darkgrey: #333333;
$brown: #766357;
$darkbrown: #604e43;
$black: #000000;

/* Breakpoints */

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
